<p id="notice"><%= notice %></p>

<h1 class="confession" id="header">
	<%= @confession.confession %>
	<span id="small"><%= link_to 'Back', confessions_path %></span>

</h1>

<br />

<%= render @confession.comments %>
<div id="footer">
	<%= render "comments/form" %>
</div>