<p id="notice"><%= notice %></p>

<h2 class="confession" id="header">
	"<%= @confession.confession %>"
	<span id="small"><%= link_to 'Back', confessions_path %></span>
</h2>

<%= render @confession.comments %>
<div id="footer">
	<%= render "comments/form" %>
</div>